@font-face{
    font-family: avenir;
    src: url("avenir_ff/AvenirLTStd-Black.otf");
}
body {
    background-color: rgb(50, 213, 131);
    font-family: Arial, Helvetica, sans-serif;
}

#page-container {
    height: 95vh;
}

#equation-container {
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 35vh;
    width: 50vw;
    background-color: white;
    transform: translate(15vw, 10vh);
    box-shadow: 5px 10px;
    border-radius: 5%;
}

#equation {
    padding-left: 7vw;
    font-size: 45px;
    font-size:48px;
}

#grid-container {
    height: 40vh;
    transform: translate(-7vw, 15vh);

    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    column-gap: 5vw;
    row-gap: 5vh;
    justify-content: center;
    align-content: center;
  
}

#cerinta-container {
    font-family: avenir;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    box-shadow: 5px 5px;
    width: 70vw;
    height: 12vh;
    text-align: center;
    font-size:40px;
    transform: translate(15vw, 20vh);
}

#cerinta-text {
    font-size: 30px;
}

.jim-img {
    margin-left: 60%;
    outline: dashed;
}

#solution-input {
    font-size: 30px;
}

#solution-inputX {
    font-size: 30px;
}

#solution-inputY {
    font-size: 30px;
}

#grid-item:hover {
    transform: scale(0.95);
}

#equation-step1 {
    padding-left: 7vw;
    font-size: 30px;
    visibility: hidden;
    z-index: 100;
}

#jim-picture {
    padding-left: 10vw;
    height: 20vh;
}

#wrapper {
    display: grid;
    grid-template-columns: auto auto;
    /* transform: translate(0vw, -8vh); */
    
}

.wrapper-item:first-child {
    grid-column: 1/3;
}

.solution-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0vh;
    height: 15vh;
    border-radius: 10%;
}

#equation-container-grid {
    display: grid;
    grid-template-columns: auto auto;
}

#stats-container {
    transform: translate(8vw, 13vh);
    height: 20vh;
    width: 20vw;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px;
    font-size:20px;
    font-family: avenir;

}

#stats-container.verticalTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 1s;
    height: 25vh;
  }

.stats-text {
    padding-left: 1vw;
}

#stats-header {
    text-align: center;
}

#rezolvare-button {
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    cursor: pointer;
    background-color: #EC9192;
}

#rezolvare-button:hover{
    background-color: #DB5375;
}

#help-button {
    z-index: 100;
    outline: dashed;
    margin-left: 2vw;
    cursor: pointer;
}

#next-button {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    cursor: pointer;
    background-color: #EC9192;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
}

#next-button:hover{
    background-color: #DB5375;
}